/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* COMMON */
body{
    font-family: 'Lato', sans-serif;
}
/* HEADER */
header{
    height: 100px;
    width:100%;
    /* test */
    background-color: bisque;
}
.view-selection{

}
.view-user{
    
}
/* MAIN */
main{
    width:100%;
    height: calc(100vh - 250px);
        /* test */
    background-color: rgb(58, 131, 190);
}
/* FOOTER */
footer{
    height: 150px;
    width:100%;
        /* test */
    background-color: rgb(241, 143, 23);
}
